#player-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.player-button {
  margin-right: 10px;
}

.player-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}